@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');


.header {
    background-color: #272727;
    color: #ffffff;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    font-family: 'Rubik Scribble', sans-serif;
  }