.shopping-cart {
    position: fixed;
    top: 30%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 70%;
    overflow-y: auto;
  }
  
  .shopping-cart h2 {
    margin-top: 0;
  }
  
  .shopping-cart ul {
    list-style: none;
    padding: 0;
  }
  
  .shopping-cart ul li {
    margin-bottom: 10px;
  }