.shopping-cart {
  position: fixed;
  top: calc(180px + 10px);
  right: 10px;
  background-color: #dcdcdc;
  padding: 20px;
  border: 3px solid #272727;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 999;
}

.shopping-cart.scrolled {
  top: calc(50px + 10px);
}
  
  .shopping-cart h2 {
    margin-top: 0;
  }
  
  .shopping-cart ul {
    list-style: none;
    padding: 0;
  }
  
  .shopping-cart ul li {
    margin-bottom: 10px;
  }